<% include ../head %>
<% include ../partials/navigation %>
    <div class="container mt-3">
        <div class="card card-body">
            <h3>Edit your idea</h3>
            <form action="/ideas/<%= idea.id %>?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT"> 
                <div class="form-group">
                    <input type="text" placeholder="Add your Idea title" class="form-control" name="title" value="<%= idea.title %>">
                </div>
                <div class="form-group">
                        <textarea class="form-control" id="" cols="30" rows="5" name="description"><%= idea.details %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<% include ../footer %>