<% include ../head %>
<% include ../partials/navigation %>
    <div class="container">
            <% include ../partials/_msg %>
            <% if(ideas.length > 0){ %>
                <% for(var i =0; i < ideas.length; i++){ %>
                    <div class="card card-body mt-2 mb-2">
                        <h4><%= ideas[i].title %></h4>
                        <p><%= ideas[i].details %></p>
                        <a href="/ideas/edit/<%= ideas[i].id %>" class="btn btn-dark btn-block mb-3">Edit</a>
                        <form method="post" action="/ideas/<%= ideas[i].id %>?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" class="btn btn-danger btn-block" value="Delete">
                        </form>
                    </div>
                <% } }else{ %>
                <h4>No Ideas Listed!</h4>
            <% } %>   
    </div> 
<% include ../footer %>