<% include head %>
    <% include partials/navigation %>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                
                <h1 class="display-4">Fluid jumbotron</h1>
                <h1 class="text-center">Index Page says hello <%= data.name %></h1>
            </div>
        </div>    
    </div>
    
<% include footer %>